<template>
    <div>
        <div id="container">
            <div class="draggable"
                draggable="true"
                v-for="(task, index) in tasks"
                v-bind:key="index"
                v-on:dragstart="handleDragStart(index, $event, false)"
                v-on:dragover="handleDragOver(index, $event, false)"
                v-on:dragenter="handleDragEnter(index, $event, false)"
                v-on:dragleave="handleDragLeave(index, $event, false)"
                v-on:drop="handleDrop(index, $event, false)"
                v-on:dragend="handleDragEnd(index, $event, false)"
                :id ="'task-' + index"
                >
                {{task.description}}
            </div>
        </div>
        <button @click="openModal()" v-if="modal==false">Crear tarea</button>
        <div v-if="modal==true">
            <input type="text" v-model="form.description">
            <button @click="saveTask()">Guardar tarea</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Home',
        data () {
            return{
                form: {},
                modal: false,
                taskTarget: {
                    origin: null,
                    destination: null
                }
            }
        },
        methods: {
            openModal () {
                this.modal = true
            },
            saveTask () {
                let tempTask = {}
                Object.assign(tempTask, this.form)
                this.$store.commit ('addTask', tempTask)
                this.form = {}
                this.modal = false
            },
            handleDragStart (index, event) {
                event = event.target
                event.classList.add ('dropup')
                this.taskTarget.origin = Number (index)
            },
            handleDragOver (index, event) {
                 event.preventDefault()
                 event.dataTransfer.dropEffect = 'move'
                 return false
            },
            handleDragEnter (index, event) {
                event = event.target
                event.classList.add ('over')
            },
            handleDragLeave (index, event) {
                event = event.target
                event.classList.remove ('over')
            },
            handleDrop (index, event) {
                event.stopPropagation()
                event = event.target
                event.classList.remove ('over')
                this.taskTarget.destination = Number (index)

                if (this.taskTarget.origin != this.taskTarget.destination) {
                    this.$store.dispatch('updateTask', [
                        this.taskTarget.origin,
                        this.taskTarget.destination
                    ])
                }
                
                return false
            },
            handleDragEnd (index, event) {
                event = event.target
                event.classList.remove ('dropup')
            }
        },
        computed: {
            tasks () {
                return this.$store.getters.refresh
            }
        }
    }
</script>

<style lang="css" scoped>
    .draggable {
        padding: 1rem;
        border: 1px solid green;
        display: block;
        cursor: move;
        margin: 10px;
    }

    .draggable.over {
        border: 1px dashed #000;
    }

    .container {
        border: 1px solid red;
    }
    .dropup {
        opacity: .5
    }
</style>